@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: var(--main-font);
}

:root {
    --main-red: #EE2E5D; 
    --main-font: 'Poppins', sans-serif;
}

body, html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

/* Inicio da classe para o efeito de scroll reveal js */
.reveal {
    visibility: hidden;
}
/* Fim da classe */


/* MENU MOBILE HAMBURGUER */
.mobile-menu-icon {
    display: none;
}

.mobile-menu {
    display: none;
}

/* FIM DO MENU MOBILE */


span {
    font-weight: 700;
    color: var(--main-red);
}

header {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 2rem 0;
    background: #f8f7f7;
    color: rgba(0, 0, 0, 0.8);
}

header img {
    width: 10rem;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f3eded;
    min-width: 10rem;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }

.dropdown-content a {
    color: rgba(0, 0, 0, 0.8);
    padding: .75rem 1rem;
    text-decoration: none;
    display: block;
    transition: all ease-in-out .3s;
}

.dropdown-content a:hover {
    background-color: #EE2E5D;
    border: 1px solid rgba(0, 0, 0, 0.5);
    color: #fff;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.nav-list ul {
    display: flex;
    gap: 2.5rem;
}

.nav-list a {
    color: rgba(0, 0, 0, 0.8);
    font-weight: bold;
    font-size: 1.2rem;
    transition: all ease-in-out 200ms;
}

.nav-list a:hover {
    font-size: 1.35rem;
    text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
}

.menu-button button {
    padding: .50rem 1rem;
    width: 6.5rem;
    margin: 2rem 0;
    border: none;
    border-radius: 10px;
    background: #151515;
    box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.5);
    color: #fff;
    text-transform: uppercase;
    cursor: pointer;
    transition: all ease-in-out .2s;
}

.menu-button button:hover {
    background: var(--main-red);
    color: #fff;
    font-weight: 700;
}

.banner {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem 1rem;
    background: var(--main-red);
    color: #ffffff;
}

.banner h1 {
    max-width: 700px;
    font-size: 3.96rem;
}

.banner p {
    font-weight: 300;
    font-size: 1.20rem;
    margin: 1.5rem 0;
}

.banner-button button {
    padding: 1rem;
    width: 6.5rem;
    border: none;
    border-radius: 30px;
    background: #363333;
    box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.5);
    color: #fff;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 700;
    transition: all ease-in-out .3s;
}

.banner-button button:hover {
    background: #fff;
    color: var(--main-red);
    font-weight: 700;    
}

.highlights {
    margin: 5rem 0;
}

.first-highlight, .second-highlight {
    margin: 5rem 0 2.5rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5rem;
}

.first-img-box {
    background-image: url("../img/investfuturo.png");
    background-size: cover;
    object-fit: cover;
    background-position: center;
    padding: 1.5rem;
    height: 35rem;
    width: 30rem;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
    border: none;
    border-radius: 5px;
    transition: all ease-in-out 300ms;
}

.second-img-box {
    background-image: url("../img/tec1.jpg");
    background-size: cover;
    object-fit: cover;
    background-position: center;
    padding: 1.5rem;
    height: 35rem;
    width: 30rem;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
    border: none;
    border-radius: 5px;
    transition: all ease-in-out 300ms;
}

.first-img-box:hover, .second-img-box:hover {
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
    height: 38rem;
    width: 33rem;
}

.highlight-texts {
    max-width: 500px;
    text-align: justify;
}

.highlight-texts h2 {
    font-size: 2rem;
    color: rgba(0, 0, 0, 0.8);
}

.highlight-texts h2, p {
    margin-bottom: 2rem;
}

.highlight-texts button {
    padding: 1rem;
    width: 6.5rem;
    border: none;
    border-radius: 30px;
    background: var(--main-red);
    box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.5);
    color: #fff;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 700;
    transition: all ease-in-out .3s;
}

.highlight-texts button:hover {
    background: #151515;
    color: #fff;
    font-weight: 700;
}

.border-div {   
    display: block;
    border: 1px solid var(--main-red);
    margin: 0 0 1.5rem 0;
}

.invest {
    background: var(--main-red);
    padding: 4rem 0;
    display: flex;
    justify-content: center;
    color: #fff;
}

.invest-box {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24rem;
}

.invest-about h2 {
    font-size: 3rem;
}

.invest-about p {
    text-transform: uppercase;
    font-weight: 700;
}

.invest-button button {
    padding: 1rem;
    width: 6.5rem;
    border: none;
    border-radius: 30px;
    background: #151515;
    box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.5);
    color: #fff;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 700;
    transition: all ease-in-out .3s;
}

.invest-button button:hover {
    background: #fff;
    color: var(--main-red);
    font-weight: 700;
}

.footer-list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 9rem;
    background: #ddd9d9;
    color: rgba(0, 0, 0, 0.8);
}

.footer-list h3 {
    font-size: 1.65rem;
    margin: 4rem 0 2rem 0;
}

.footer-list ul {
    margin-bottom: 2rem;
}

.footer-list li {
    cursor: pointer;
    margin-bottom: .30rem;
    transition: all ease-in-out 100ms;
    color: rgba(0, 0, 0, 0.8);
}

.footer-list li:hover {
    font-weight: 700;
}

@media only screen and (max-width: 450px) {

    header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 2rem 0;
        background: #dbc3c3;
    }

    .logo img {
        width: 15rem;
    }

    .menu-button, .nav-list {
        display: none;
    }

    .mobile-menu-icon {
        display: block;
        border: none;
    }

    .mobile-menu-icon button {
        cursor: pointer;
        border: none;
        background-color: transparent;
        margin: 2rem 0;
    }

    .mobile-menu-icon img {
        width: 3.5rem;
    }

    .mobile-menu ul {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-bottom: 1rem;
    }

    .mobile-menu .nav-list {
        display: block;
        padding-top: 1.2rem;
    }

    .mobile-menu .menu-button {
        display: block;
        padding: 1rem 2rem;
    }

    .mobile-menu .login-button button {
        width: 100%;
    }

    .open {
        display: block;
    }

    .banner {
        padding: 2rem 4rem;
        text-align: center;
        max-width: 650px;
    }

    .banner h1 {
        font-size: 2.3rem;
    }

    .highlights {
        padding: 2rem 1rem;
    }

    .highlight-texts {
        margin: 1.3rem 0;
    }

    .highlight-texts h2 {
        font-size: 1.9rem;
        text-align: center;
    }

    .highlights-button {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 2rem 0;
    }

    .first-highlight, .second-highlight {
        display: block;
    }

    .first-img-box, .second-img-box {
        height: 17rem;
        width: 25rem;
        margin: 0 auto;
        background-position: center;
        background-size: cover;
        object-fit: cover;
    }

    .invest-box, .invest-button button {
        display: block;
        margin: 0 auto;
    }


    .invest-box h2 {
        text-align: center;
        font-size: 2em;
        margin: 1rem 0;
    }

    .invest-box p {
        text-align: center;
        font-size: 1.1rem;
    }

    .footer-list {
        padding: 1rem 0;
        display: block;
        text-align: center;
        font-size: 1.2rem;
    }
}

@media screen and (max-width: 768px) {
    header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 2rem 0;
        background: #dbc3c3;
    }

    .logo img {
        width: 18rem;
    }

    .menu-button, .nav-list {
        display: none;
    }

    .mobile-menu-icon {
        display: block;
        border: none;
    }

    .mobile-menu-icon button {
        cursor: pointer;
        border: none;
        background-color: transparent;
        margin: 2rem 0;
    }

    .mobile-menu-icon img {
        width: 5rem;
    }

    .mobile-menu ul {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-bottom: 1rem;
        font-size: 1.8rem;
    }

    .mobile-menu .nav-list {
        display: block;
        padding-top: 1.2rem;
    }

    .mobile-menu .menu-button {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1rem 2rem;
    }

    .mobile-menu button {
        padding: .75rem 1rem;
        width: 10rem;
        font-size: 1.32rem;
    }

    .open {
        display: block;
    }

    .banner-button button {
        padding: 1rem;
        width: 10rem;
        font-size: 1.3rem;
    }

    .highlights {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .highlight-texts {
        margin: 1.3rem 0;
        font-size: 1.5rem;
    }

    .highlight-texts h2 {
        font-size: 1.9rem;
        text-align: center;
        margin: 2rem 0;
    }

    .highlights-button {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 2rem 0;
    }

    .highlights-button button {
        padding: 1rem;
        width: 10rem;
        font-size: 1.3rem;
    }

    .first-highlight, .second-highlight {
        display: block;
    }

    .first-img-box, .second-img-box {
        height: 30rem;
        width: 30rem;
        margin: 0 auto;
        background-position: center;
        background-size: cover;
        object-fit: cover;
    }

    .invest-box, .invest-button button {
        display: block;
        margin: 0 auto;
    }

    .invest-box h2 {
        text-align: center;
        font-size: 3.4em;
        margin: 1rem 0;
    }

    .invest-box p {
        text-align: center;
        font-size: 1.8rem;
    }

    .invest-button button {
        width: 10rem;
        padding: 1rem;
        font-size: 1.3rem;
    }

    .footer-list {
        padding: 1rem 0;
        display: block;
        text-align: center;
    }

    .list-box h3 {
        font-size: 2.5rem;
    }

    .list-box ul {
        font-size: 1.65rem;
    }
}
