@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: var(--main-font);
}

:root {
    --main-red: #EE2E5D; 
    --main-font: 'Poppins', sans-serif;
}

.wrapper {
    margin: 0 auto;
    width: 1000px;
}

span {
    font-weight: 700;
    color: var(--main-red);
}

header {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 5rem;
    background: #f3eded;
    color: rgba(0, 0, 0, 0.8);
}

header img {
    width: 10rem;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f3eded;
    min-width: 10rem;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }

.dropdown-content a {
    color: black;
    padding: .75rem 1rem;
    text-decoration: none;
    display: block;
    transition: all ease-in-out .3s;
}

.dropdown-content a:hover {
    background-color: #EE2E5D;
    border: 1px solid rgba(0, 0, 0, 0.5);
    color: #fff;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.menu-nav ul {
    display: flex;
    gap: 2.5rem;
}

.menu-nav a {
    color: #151515;
    font-weight: bold;
    font-size: 1.2rem;
    transition: all ease-in-out .3s;
}

.menu-button button {
    padding: .50rem 1rem;
    width: 6.5rem;
    border: none;
    border-radius: 10px;
    background: #151515;
    color: #fff;
    text-transform: uppercase;
    cursor: pointer;
    transition: all ease-in-out .3s;
}

.banner {
    height: 70vh;
    background: var(--main-red);
    color: #ffffff;
}

.banner {
    display: flex;
    align-items: center;
}

.banner h1 {
    max-width: 700px;
    font-size: 3.96rem;
}

.banner p {
    font-weight: 300;
    font-size: 1.20rem;
    margin: 1.5rem 0;
}

.banner-button button {
    padding: 1rem;
    width: 6.5rem;
    border: none;
    border-radius: 30px;
    background: #363333;
    box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.5);
    color: #fff;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 700;
}

.highlights {
    margin: 10rem 0;
}

.first-highlight, .second-highlight {
    margin: 5rem 0 2.5rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5rem;
}

.first-img-box {
    background-image: url("../img/investfuturo.png");
    background-size: cover;
    object-fit: cover;
    background-position: center;
    padding: 1.5rem;
    height: 35rem;
    width: 30rem;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
    border: none;
    border-radius: 5px;
}

.second-img-box {
    background-image: url("../img/tec1.jpg");
    background-size: cover;
    object-fit: cover;
    background-position: center;
    padding: 1.5rem;
    height: 35rem;
    width: 30rem;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
    border: none;
    border-radius: 5px;
}

.highlight-texts {
    max-width: 500px;
    text-align: justify;
}

.highlight-texts h2 {
    font-size: 2rem;
    color: rgba(0, 0, 0, 0.8);
}

.highlight-texts h2, p {
    margin-bottom: 2rem;
}

.highlight-texts button {
    padding: 1rem;
    width: 6.5rem;
    border: none;
    border-radius: 30px;
    background: var(--main-red);
    box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.5);
    color: #fff;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 700;
}

.border-div {   
    display: block;
    border: 1px solid var(--main-red);
    margin: 0 0 1.5rem 0;
}

.invest {
    background: var(--main-red);
    height: 15rem;
    display: flex;
    justify-content: center;
    color: #fff;
}

.invest-box {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24rem;
}

.invest-about h2 {
    font-size: 3rem;
}

.invest-about p {
    text-transform: uppercase;
    font-weight: 700;
}

.invest-button button {
    padding: 1rem;
    width: 6.5rem;
    border: none;
    border-radius: 30px;
    background: #151515;
    box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.5);
    color: #fff;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 700;
    transition: all ease-in-out .3s;
}

.footer-list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 9rem;
    background: #ddd9d9;
    color: rgba(0, 0, 0, 0.8);
}

.footer-list h3 {
    font-size: 1.65rem;
    margin: 4rem 0 2rem 0;
}

.footer-list li {
    margin-bottom: 2rem;
}

.footer-list ul {
    cursor: pointer;
    margin-bottom: .30rem;
}
